.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
  font-family: sans-serif;
}

.header {
  background: white;
  padding: 0;
}

.footer {
  background: rgb(146, 140, 140);
}

.main {
  text-align: center;
  background: #172c3f;
  color: #ffffff;
}

.aside-1 {
  background: rgb(237, 223, 223);
}

.aside-2 {
  background: rgb(243, 225, 225);
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0 0;
  }
  .aside2 {
    flex: 1 0 0;
  }
  .aside3 {
    flex: 1 0 0;
  }
}

body {
  padding: 0;
  margin: 0;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #172c3f;
}
.text {
  padding: 40px;
  color: #ffffff;
}

.menuicon {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.menulink {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 0.5em;
  color: white;
}
.navigation svg {
  fill: white;
}

.navigation svg:hover {
  fill: #d0eef8;
}

.navigation a:hover {
  color: #d0eef8;
}

h1 {
  font-size: 2.5rem;
}
.img {
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgb(140, 140, 140);
}
