.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 0;
  flex: 1 100%;
  font-family: sans-serif;
}

.header {
  background: white;
  padding: 0;
}

.nav {
  position: fixed;
  top: 0;
  z-index: 100;
}

.footer {
  background: #172c3f;
  color: #ffffff;
  padding: 10px;
}

.main {
  text-align: center;
  background: #172c3f;
  color: #ffffff;
}

.aside-1 {
  background: #ffffff;
  font-weight: normal;
  padding: 0 0px;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #172c3f;
}

.aside-2 {
  background: #ffffff;
  font-weight: normal;
  padding: 0 0px;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #172c3f;
}

.aside-3 {
  background: #ffffff;
  font-weight: normal;
  padding: 0 0px;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #172c3f;
}

.aside-4 {
  background: #ffffff;
  font-weight: normal;
  padding: 0 0px;
  border-style: solid;
  border-width: 0 0 3px 0;
  border-width: 3px 3px 3px 3px;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0 0;
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: #172c3f;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #172c3f;
}
.text {
  padding: 40px;
  color: #ffffff;
}

.menuicon {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.menulink {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 0.5em;
  color: white;
}
.navigation svg {
  fill: white;
}

.navigation svg:hover {
  fill: #d0eef8;
}

.navigation a:hover {
  color: #d0eef8;
}

h1 {
  font-size: 2.5rem;
}
.img {
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgb(140, 140, 140);
}

.gallery {
  display: flex;
  justify-content: center;
}

.cont-table {
  display: flex;
  justify-content: center;
}

.text {
  color: #000000;
}

able {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
}
th,
td {
  background: #172c3f;
  color: white;
  padding: 10px 20px;
}
th,
td {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: white;
}
td {
  background: #172c3f;
}
th:first-child,
td:first-child {
  text-align: left;
}

.price {
  background: #172c3f;
  color: #ffffff;
}

.inst {
  background: #172c3f;
  color: #ffffff;
}
